<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    <h1>Добро пожаловать, {{ user.first_name }} {{ user.last_name }}</h1>

    {% if user.is_authenticated %}
        <h2>Информация о вашей карте</h2>
        <p><strong>Номер карты:</strong> {{ user.account.linked_card.card_number }}</p>
        <p><strong>CVV:</strong> {{ user.account.linked_card.cvv }}</p>
        <p><strong>Срок действия:</strong> {{ user.account.linked_card.expiration_date }}</p>
        <p><strong>Баланс:</strong> {{ user.account.balance }} ₽</p>
    {% else %}
        <p>Пожалуйста, <a href="{% url 'auth_sys:login' %}">войдите</a> или <a href="{% url 'auth_sys:register' %}">зарегистрируйтесь</a>.</p>
    {% endif %}
</body>
</html>
