{% extends 'layout.html' %}
{% load static %}
{% block title %} {{ news.title }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'home/css/news.css' %}">
<div class="news-detail">
    <h2>{{ news.title }}</h2>
    <img src="{{ news.image_url }}" alt="{{ news.title }}" class="news-image">
    <div class="date">{{ news.published_at }}</div>
    <div class="content">{{ news.description }}</div>

    <a href="{{ news.link }}" class="original-link" target="_blank">Читати оригінал новини</a>
    <a href="/news/" class="read-more">Повернутись до новин</a>
</div>
{% endblock %}