{% extends 'layout.html' %}
{% load static %}

{% block title %}Банка накопичування{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'cards/css/banka_open.css' %}">

{% if user.is_authenticated %}
    <a href="javascript:history.back()" class="back-button">← Назад</a>

    {% if user.banka %}
            <div class="container-close">
                <h1>Відкрити накопичувальну банку</h1>
                <p class="p-class">Ви вже маєте накопичувальну банку. Ви не можете створити іншу.</p>
            </div>
    {% else %}
    <div class="container">
        <h1>Відкрити накопичувальну банку</h1>
        <form method="post">
            {% csrf_token %}
            <p><strong>Назва банки:</strong></p>
            {{ form.name }}
            <p><strong>Опис:</strong></p>
            {{ form.description }}
            <p><strong>Ціль накопичування (грн):</strong></p>
            {{ form.goal }}
            <button type="submit">Створити банку</button>
        </form>
    {% endif %}
    </div>

    <div class="footer-text">
        *Банка є зберігальним рахунком і не використовується для основних операцій
    </div>
{% else %}
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh; text-align: left;">
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" alt="Хрест" style="width: 50px; height: 50px; margin-right: 15px;">
        <h1 style="font-size: 30px; max-width: 500px; line-height: 1.4;">
            Ой лихо, схоже вам спочатку потрібно авторизуватися... 🫣
        </h1>
    </div>
{% endif %}

{% endblock %}