{% extends 'layout.html' %}

{% block title %}{{ card_title }}{% endblock %}

{% block content %}
<div class="features">
    <h1>Добро пожаловать, {{ first_name }} {{ last_name }}</h1>

    {% if request.user.is_authenticated %}
        <h2>Информация о вашей карте</h2>
        <p><strong>Номер карты:</strong> {{ card.card_number }}</p>
        <p><strong>CVV:</strong> {{ card.cvv }}</p>
        <p><strong>Срок действия:</strong> {{ card.expiry_date }}</p>
        <p><strong>Баланс:</strong> {{ card.balance }} ₽</p>
    {% else %}
        <p>Пожалуйста, <a href="{% url 'home' %}">войдите</a> или <a href="{% url 'home' %}">зарегистрируйтесь</a> чтобы увидеть карту.</p>
    {% endif %}
</div>
    {% endblock %}