{% extends 'layout.html' %}
{% load static %}

{% block title %} Картки {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'cards/css/cards-style.css' %}">

<div class="card-list-container">
    <div class="card-list-title">Ваші картки</div>
    <div class="card-list">
        {% for card in cards %}
            <div class="card-item">
                <span class="card-number">Номер картки: {{ card.card_number }}</span>
                <a href="{% url 'cards:card' pk=card.pk %}" class="view-button">Переглянути</a>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}