{% extends 'layout.html' %}

{% block title %} Карти {% endblock %}

{% block content %}
<div class="features">
    {% if request.user.is_authenticated %}
        <h2>Ваші картки:</h2>
        {% for card in cards %}
            <p>Номер картки: {{ card.card_number }}</p>
            <a href="{% url 'cards:card' pk=card.pk %}">Просмотреть карточку</a>
        {% endfor %}
    {% else %}
    <p>Будь ласка, <a href="/auth/login/">увійдіть</a> або <a href="/auth/register/">зареєструйтесь</a>.</p>
    {% endif %}
</div>
    {% endblock %}