{% extends 'layout.html' %}
{% load static %}

{% block title %} Карта {{ card.card_number }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'cards/css/style_card.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="features">
    {% if request.user.is_authenticated %}
        <h1>Ваша картка:</h1>
        <div class="card-section">
            <!-- Кнопка "Інші картки" -->
            <a href="{% url 'cards:cards' %}" class="button-cards"><i class="fas fa-address-card"></i> Інші картки</a>
            
            <!-- Обертка для карточки и блока баланса -->
            <div class="card-wrapper">
                <!-- Обертка для карточки -->
                <div class="card-container">
                    <div class="card" id="card">
                        <div class="card-front">
                            <div class="card-number">
                                <span class="visible-part">{{ card.card_number|slice:":2" }}</span>
                                <span class="masked-part">**********</span>
                                <span class="visible-part">{{ card.card_number|slice:"12:" }}</span>
                            </div>                                                        
                            <div class="card-expiry">Термін: {{ card.expiry_date }}</div>
                        </div>
                        <div class="card-back">
                            <div class="card-number" id="cardNumberFull">{{ card.card_number }}</div>
                            <div class="card-cvv">CVV: {{ card.cvv }}</div>
                        </div>
                    </div>
                    <button class="flip-button" id="flipButton" onclick="toggleCVV()">
                        <span class="arrow-container">&#x21bb;</span>
                        <span class="button-text" id="flipButtonText">Показати CVV</span>
                    </button>
                </div>

                <!-- Блок баланса справа от карточки -->
                <div class="balance-block">
                    <div class="balance-info">
                        <span class="balance-amount">{{ card.balance }} грн</span>
                        <span class="exchange-rate" id="exchangeRate"></span>
                        <p class="credit-info">Кредит: {{ user.credit_balance }} грн</p>
                    </div>
                    <hr class="divider">
                    <div class="action-buttons">
                        <!-- Заменили <button> на <a> -->
                        <a href="#" class="replenish-button">Поповнити рахунок +</a>
                        <div class="button-divider"></div>
                        <a href="transfer" class="send-button">Відправити</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="tabs">
            <button class="tab-button active" data-tab="services">Послуги</button>
            <button class="tab-button" data-tab="transactions">Транзакції</button>
            <button class="tab-button" data-tab="rates">Курс</button>
        </div>

        <div class="tab-content" id="services" style="display: block;">
            <div class="services-buttons">
                <a href="mobile" class="service-button" style="--color-start: #8311ca;">
                    <i class="fas fa-mobile-alt"></i> Поповнення мобільного
                </a>
                <a href="credit" class="service-button" style="--color-start: #ac1d1d;">
                    <i class="fas fa-credit-card"></i> Кредит
                </a>
                <a href="auto" class="service-button" style="--color-start: #ef6c00;">
                    <i class="fas fa-car"></i> Авто
                </a>
                <a href="close-card" class="service-button" style="--color-start: #5b5b5b;">
                    <i class="fas fa-times-circle"></i> Закрити картку
                </a>
                <a href="banka" class="service-button" style="--color-start: #2e7d32;">
                    <i class="fas fa-piggy-bank"></i> Банка накопичування
                </a>
                <a href="insurance" class="service-button" style="--color-start: #1565c0;">
                    <i class="fas fa-shield-alt"></i> Страхування
                </a>
                <a href="train" class="service-button" style="--color-start: #694f47;">
                    <i class="fas fa-subway"></i> Поїзд
                </a>
            </div>
        </div>

        <div class="tab-content" id="transactions" style="display: none;">
            {% if transactions %}
                <ul class="transaction-list">
                    {% for transaction in transactions %}
                        <li class="transaction-item">
                            <div class="transaction-header">
                                <strong class="transaction-recipient">Отримувач:</strong> <span class="recipient-name">{{ transaction.recipient.username }}</span>
                            </div>
                            <div class="transaction-details">
                                <strong class="transaction-amount">Сума:</strong> <span class="amount-value"><b>{{ transaction.amount }} </b>₴</span>
                                <strong class="transaction-date">Дата:</strong> <span class="transaction-date-value"><b>{{ transaction.date }}</b></span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="no-transactions-message">Транзакції відсутні.</p>
            {% endif %}
        </div>

        <div class="tab-content" id="rates" style="display: none;">
            <h2>Курс</h2>
            <div id="exchangeRates" class="exchange-rates"></div>
            <button id="scrollDownButton" class="scroll-button" onclick="scrollToBottom()">&#x2193;</button>
        </div>
        
    {% else %}
        <h1>Ласкаво просимо</h1>
        <p>Будь ласка, <a href="/auth/login/">увійдіть</a> або <a href="/auth/register/">зареєструйтесь</a>.</p>
    {% endif %}
</div>

<script>
    // Получаем все табы и их контент
    const tabs = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');

    // Получаем кнопку прокрутки
    let scrollButton;
    let lastScrollPosition = 0; // Переменная для отслеживания последней позиции скролла

    // Добавляем обработчик события для каждой кнопки таба
    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            // Скрываем все табы
            tabContents.forEach(content => {
                content.style.display = 'none';
            });

            // Убираем класс активного таба
            tabs.forEach(tab => {
                tab.classList.remove('active');
            });

            // Показываем нужный таб
            const targetTabContent = document.getElementById(tab.dataset.tab);
            targetTabContent.style.display = 'block';

            // Добавляем класс активного таба
            tab.classList.add('active');

            // Если это вкладка "Курс", показываем кнопку прокрутки
            if (tab.dataset.tab === 'rates') {
                showScrollButton();
                fetchExchangeRates();
            } else {
                hideScrollButton();
            }
        });
    });

    // Функция для показа кнопки прокрутки вниз
    function showScrollButton() {
        if (!scrollButton) {
            scrollButton = document.createElement('button');
            scrollButton.id = 'scrollDownButton';
            scrollButton.classList.add('scroll-button');
            scrollButton.innerHTML = '&#x2193;';
            scrollButton.onclick = scrollToBottom;
            document.body.appendChild(scrollButton);
        }
        scrollButton.style.display = 'block';
        setTimeout(() => scrollButton.classList.add('show'), 100);
        window.addEventListener('scroll', toggleScrollButton);
    }

    // Функция для скрытия кнопки
    function hideScrollButton() {
        if (scrollButton) {
            scrollButton.classList.remove('show');
            setTimeout(() => scrollButton.style.display = 'none', 300);
            window.removeEventListener('scroll', toggleScrollButton);
        }
    }

    // Функция для прокрутки вниз
    function scrollToBottom() {
        window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth'
        });
    }

    // Функция для управления отображением кнопки
    function toggleScrollButton() {
        const currentScrollPosition = window.scrollY; // Текущая позиция скролла

        // Если мы прокручиваем страницу вверх (сравниваем с предыдущей позицией)
        if (currentScrollPosition < lastScrollPosition) {
            // Если прокрутили вверх, показываем кнопку
            scrollButton.classList.add('show');
        } else {
            // Если прокрутили вниз, скрываем кнопку
            scrollButton.classList.remove('show');
        }

        // Обновляем позицию последнего скролла
        lastScrollPosition = currentScrollPosition;
    }

    window.addEventListener('scroll', toggleScrollButton);

    // Функция для получения курсов валют
    async function fetchExchangeRates() {
        try {
            const response = await fetch('https://api.exchangerate-api.com/v4/latest/UAH');
            const data = await response.json();
            
            // Округляем курсы до 2 знаков после запятой
            const usdRate = (1 / data.rates.USD).toFixed(2);
            const eurRate = (1 / data.rates.EUR).toFixed(2);
            const gbpRate = (1 / data.rates.GBP).toFixed(2);
            const plnRate = (1 / data.rates.PLN).toFixed(2);

            // Выводим курсы в элемент с id "exchangeRates"
            const exchangeRatesElement = document.getElementById('exchangeRates');
            exchangeRatesElement.innerHTML = `
                <div class="exchange-rates-block">
                    <p class="exchange-rate-item">1 USD = ${usdRate} грн</p>
                    <p class="exchange-rate-item">1 EUR = ${eurRate} грн</p>
                    <p class="exchange-rate-item">1 GBP = ${gbpRate} грн</p>
                    <p class="exchange-rate-item">1 PLN = ${plnRate} грн</p>
                </div>
            `;
        } catch (error) {
            console.error('Ошибка при получении курсов валют:', error);
        }
    }

    // Получаем элементы для переворота карточки
    const flipButton = document.getElementById('flipButton');
    const card = document.getElementById('card');

    // Добавляем обработчик события для кнопки переворота
    flipButton.addEventListener('click', () => {
        card.classList.toggle('flipped'); // Переворачиваем карточку
    });

    let isCVVVisible = false;

    // Функция для переключения текста на кнопке
    function toggleCVV() {
        const flipButtonText = document.getElementById("flipButtonText");

        // Переключаем текст кнопки в зависимости от состояния карточки
        if (isCVVVisible) {
            flipButtonText.textContent = "Показати CVV"; // Меняем на "Показати CVV"
        } else {
            flipButtonText.textContent = "Приховати CVV"; // Меняем на "Приховати CVV"
        }

        // Переключаем состояние видимости CVV
        isCVVVisible = !isCVVVisible;
    }

    // Вызов функции сразу после загрузки страницы
    document.addEventListener('DOMContentLoaded', fetchExchangeRates);

    document.addEventListener('DOMContentLoaded', function() {
        const cardNumberElement = document.getElementById('cardNumber');
        const cardNumberFullElement = document.getElementById('cardNumberFull');

        // Функция для маскировки номера
        function maskCardNumber(cardNumber) {
            // Отображаем первые 2 цифры, затем 10 звезд и последние 4 цифры
            return cardNumber.slice(0, 2) + '**********' + cardNumber.slice(-4);
        }

        const cardNumber = '{{ card.card_number }}'; // Получаем номер карты из шаблона

        // Маскируем номер на передней стороне карточки
        cardNumberElement.textContent = maskCardNumber(cardNumber);

        // Показать полный номер на оборотной стороне
        cardNumberFullElement.textContent = cardNumber;
    });

    document.addEventListener("DOMContentLoaded", function () {
        // Функция для копирования текста
        function copyText(event) {
            const textToCopy = event.target.innerText;
            navigator.clipboard.writeText(textToCopy).then(() => {
                // Создание элемента с текстом "Скопійовано!"
                let message = document.createElement("span");
                message.classList.add("copy-message");
                message.innerText = "Скопійовано!";
                event.target.appendChild(message);

                // Показываем сообщение
                setTimeout(() => {
                    message.style.opacity = "1";
                }, 50);

                // Удаляем сообщение через 3 секунды
                setTimeout(() => {
                    message.style.opacity = "0";
                    setTimeout(() => message.remove(), 300);
                }, 3000);
            });
        }

        // Назначаем обработчик событий на все элементы с курсами валют
        document.getElementById("exchangeRates").addEventListener("click", function (event) {
            if (event.target.classList.contains("exchange-rate-item")) {
                copyText(event);
            }
        });
    });
</script>

{% endblock %}