{% extends 'layout.html' %}

{% block title %} Карти {% endblock %}

{% block content %}
<div class="features">
    {% if request.user.is_authenticated %}
        <h2>Ваші картки:</h2>
        {% for card in cards %}
            <p>Номер картки: {{ card.card_number }}</p>
            <a href="{% url 'card' card.pk %}">Більше</a>
        {% endfor %}
    {% else %}
    <p>Будь ласка, <a href="{% url 'home' %}">увійдіть</a> або <a href="{% url 'home' %}">зареєструйтесь</a>.</p>
    {% endif %}
</div>
    {% endblock %}