{% extends 'layout.html' %}
{% load static %}

{% block title %}Удаление карточки{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'cards/css/close_card.css' %}">

<a href="{% url 'cards:card' pk=card.pk %}" class="back-button">← Назад</a>

<div class="outer-container">
    <div class="content-wrapper">
        <div class="delete-card-container">
            <h2>Ви впевнені, що бажаєте видалити цю картку?</h2>
            <p>Після видалення всі дані картки будуть втрачені. Будь ласка, підтвердіть, якщо хочете продовжити.</p>

            <form method="POST" action="{% url 'cards:close_card' pk=card.pk %}">
                {% csrf_token %}
                <div class="button-container">
                    <button type="submit" class="insurance-button delete">Видалити</button>
                    <a href="javascript:history.back()" class="insurance-button cancel">Скасувати</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
