{% extends 'layout.html' %}
{% load static %}

{% block title %}Інформація про кредит для: {{ card.card_number }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'cards/css/add_credit.css' %}">

{% if user.is_authenticated %}
    <a href="{% url 'cards:card' pk=card.pk %}" class="back-button">← Назад</a>

    <div class="credit-wrapper">
        <div class="credit-container">
            <h2 class="credit-header">Інформація про ваш кредит</h2>

            <div class="current-credit">
                <h3 class="credit-header">Ваш поточний кредит</h3>
                {% if user.credit_balance > 0 %}
                    <p class="credit-info">Сума: <strong>{{ user.credit_balance }} грн</strong></p>
                    <p class="credit-info">Термін кредиту: <strong>{{ credit_term }} місяців</strong></p>
                    <p class="credit-info">Щомісячний платіж: <strong>{{ monthly_payment }} грн</strong></p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="repay_credit" class="credit-repay-button">Погасити кредит</button>
                    </form>
                {% else %}
                    <p class="credit-info">Жодний кредит на вашому рахунку.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer-text">
        *Кредит можливо оформити лише повнолітнім користувачам банку.
    </div>
{% else %}
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh; text-align: left;">
        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" alt="Хрест" style="width: 50px; height: 50px; margin-right: 15px;">
        <h1 style="font-size: 30px; max-width: 500px; line-height: 1.4;">
            Ой лихо, схоже вам спочатку потрібно авторизуватися... 🫣
        </h1>
    </div>
{% endif %}

{% endblock %}
