{% extends 'layout.html' %}
{% load static %}

{% block title %}Поиск маршрутов{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'cards/css/train.css' %}">

<a href="javascript:history.back()" class="back-button">← Назад</a>

<div class="container">
    <h1>Потужність від цього проекту</h1>
    <div class="speedometer">
        <div class="circle">
            <div class="numbers">
                <span class="num" style="transform: rotate(0deg)">0</span>
                <span class="num" style="transform: rotate(30deg)">100</span>
                <span class="num" style="transform: rotate(60deg)">200</span>
                <span class="num" style="transform: rotate(90deg)">300</span>
                <span class="num" style="transform: rotate(120deg)">400</span>
                <span class="num" style="transform: rotate(150deg)">500</span>
            </div>
            <div class="needle"></div>
        </div>
        <h2>Статус: настільки велика потужність що аж стіни трясуться</h2>
    </div>
</div>

<script src="script.js"></script>

{% endblock %}
