{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- <link rel="stylesheet" href="{% static 'cards/css/style_card.css' %}"> -->
</head>
<body>
    <aside>
        <img scr="{% static 'home/img/logo.svg' %}" alt="Лого">
        <span class="logo">Company</span>
        <h3>Навігація</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Банк </li></a>
            <a href="{% url 'cards' %}"><li><i class="fas fa-address-card"></i> Картки </li></a>
            <a href="{% url 'home' %}"><li><i class="fas fa-paper-plane"></i> Новини </li></a>
        </ul>
        {% if request.user.is_authenticated %}
        {% else %}
            <p>Будь ласка, <a href="{% url 'home' %}">увійдіть</a> або <a href="{% url 'home' %}">зареєструйтесь</a>.</p>
        {% endif %}
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>