* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #787878;
    margin-bottom: 30px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    color: #787878;
    margin-bottom: 30px;
    font-weight: 600;
}

.speedometer {
    position: relative;
    width: 400px;
    height: 200px;
}

.circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 150px 150px 0 0;
    background: linear-gradient(135deg, #44698e, #34495e); /* Градиентный фон */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Тень для глубины */
}

.numbers {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-50%);
    font-size: 18px;
    color: #fff;
}

.num {
    position: absolute;
    transform-origin: center center;
}

.ticks {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.tick {
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #fff;
    transform-origin: 50% 100%;
    top: 50%;
}

.needle {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 4px;
    height: 130px;
    background-color: red;
    transform-origin: 50% 100%;
    transform: rotate(0deg);
    animation: moveNeedle 1s ease-in-out infinite;
}

@keyframes moveNeedle {
    0% {
        transform: rotate(-90deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(50deg);
    }
    75% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-89deg);
    }
}

.back-button {
    position: fixed;
    top: 90px; /* Сдвигаем кнопку немного вниз */
    left: 400px; /* Сдвигаем кнопку немного вправо */
    background: none; /* Без фона */
    color: #717171; /* Темно-серый цвет */
    font-size: 20px; /* Увеличен размер текста */
    font-weight: bold; /* Жирный стиль текста */
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-button:hover {
    color: #007bff; /* Цвет при наведении */
}