{% extends 'layout.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="features">
    <h1>Вход</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_username">Ім'я та призвіще:</label>
            <input type="username" name="username" required="" id="id_username">
        </p>
        <p>
            <label for="id_email">Email:</label>
            <input type="email" name="email" autofocus="" maxlength="320" required="" id="id_email">
        </p>
        <p>
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" required="" id="id_password">
        </p>
        <button type="submit">Увійти</button>
    </form>
    <p>Ще не створили рахунок? <a href="/auth/register/">Зареєструватися</a></p>
</div>
    {% endblock %}